fastapi
sqlmodel
uvicorn
streamlit
plotly
pandas
requests
scikit-learn
passlib==1.7.4
bcrypt==4.0.1
python-multipart
catboost
neuralprophet
PyJWT
httpx<0.25
python-dotenv
psycopg2-binary

pytest>=7.0
jinja2
apscheduler
numpy
